<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleExecutable</key>
    <string>Meya</string>
	<key>CFBundleIdentifier</key>
	<string>com.dp.inputmethod.LocalVoiceInput</string>
	<key>CFBundleIconFile</key>
	<string>Meya-v3.icns</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>麦芽 Meya</string>
    <key>CFBundleDisplayName</key>
    <string>麦芽 Meya</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>64</string>
    <key>ComponentInputModeDict</key>
    <dict>
        <key>tsInputModeListKey</key>
        <dict>
            <key>com.dp.inputmethod.LocalVoiceInput.VoiceV4</key>
            <dict>
                <key>TISInputSourceID</key>
                <string>com.dp.inputmethod.LocalVoiceInput.VoiceV4</string>
                <key>tsInputModeDefaultStateKey</key>
                <true/>
                <key>tsInputModeIsVisibleKey</key>
                <true/>
                <key>tsInputModeKeyEquivalentKey</key>
                <string></string>
                <key>tsInputModeKeyEquivalentModifiersKey</key>
                <integer>4608</integer>
                <key>tsInputModeMenuIconFileKey</key>
					<string>MeyaInputSource-v3.pdf</string>
                <key>tsInputModePaletteIconFileKey</key>
					<string>MeyaInputSource-v3.pdf</string>
                <key>tsInputModePrimaryInScriptKey</key>
                <true/>
                <key>tsInputModeScriptKey</key>
                <string>smSimpChinese</string>
            </dict>
        </dict>
        <key>tsVisibleInputModeOrderedArrayKey</key>
        <array>
            <string>com.dp.inputmethod.LocalVoiceInput.VoiceV4</string>
        </array>
    </dict>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSBackgroundOnly</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>InputMethodConnectionName</key>
    <string>LocalVoiceInput_Connection</string>
    <key>InputMethodServerControllerClass</key>
    <string>LocalVoiceInputController</string>
    <key>InputMethodServerDelegateClass</key>
    <string>LocalVoiceInputController</string>
    <key>tsInputMethodCharacterRepertoireKey</key>
    <array>
        <string>Latn</string>
        <string>Hans</string>
        <string>Hant</string>
    </array>
    <key>tsInputMethodIconFileKey</key>
					<string>MeyaInputSource-v3.pdf</string>
    <key>LocalVoiceProjectPath</key>
    <string></string>
    <key>NSMicrophoneUsageDescription</key>
    <string>麦芽 Meya 用于在本机录制语音并转换为文字，音频不会上传。</string>
</dict>
</plist>
